:root {
    background-color: #fff2e8;
}

img {
    max-width: 10%;
    height: auto;
}

.content {
    display: block; 
    margin: 30px auto;
    text-align: center;
    width: 700px;
}

.main {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.tab {
    margin: 5px;
    flex: 1;
}

.tab-selected {
    margin: 5px;
    flex: 1;
    background-color: #4e453e;
}

.tab:hover {
    margin: 5px;
    flex: 1;
    background-color: #fff2e8
}

h1, h2 {
    color: #4e453e
}

h3, p {
    text-align: left;
}