:root {
    background-color: #fff2e8;
}

img {
    max-width: 10%;
    height: auto;
}

.content {
    display: block; 
    margin: 30px auto;
    text-align: center;
    width: 700px;
}

.main {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

}

h1, h2 {
    color: #4e453e
}

h3, p {
    text-align: left;
}